{% load extended_tags %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{% block title %}No title{% endblock %}</title>
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/data_page.css" %}" rel="stylesheet" media="screen">
        <script src="{% static "js/bootstrap.js"%}"></script>
        <script src="{% static "js/jquery-1.9.1.min.js"%}"></script>
        <script src="{% static "js/jquery.form.js"%}"></script>
        {% block extra %}
        {% endblock %}
</head>

<body>
    42 Coffee Cups Test Assignment
    {% if user.is_anonymous %}
        <a href="{% url login %}">Login</a>
    {% else %}
        {% get_profile user as profile%}
        <h7>Hello, <strong>{{ user }}</strong> !
            <a href="{% url profile %}">Edit</a> |
            <a href="{% url logout %}">Logout</a> |
            <a href={% edit_link profile %}>(admin)</a>
        </h7>
    {% endif %}
    <hr>
    {% block body %}
        {% block content %}
        {% endblock content %}
    {% endblock body %}
    <hr>
    <a href="{% url requests %}">requests</a>
</body>
</html>
