<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>{% block title %}No title{% endblock %}</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/static/css/data_page.css" rel="stylesheet" media="screen">
        <script src="/static/js/bootstrap.js"></script>
</head>
    <body>
        42 Coffee Cups Test Assignment
        <hr>
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}
        <hr>
        <a href="/requests">requests</a>
    </body>
</html>
