{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <td>Name:{{ admin_user.first_name }}</td>
            <td>Contacts:{{ admin_user.userprofile.contacts }}</td>
        </tr>
        <tr>
            <td>Last name:{{ admin_user.last_name }}</td>
            <td>Email:{{ admin_user.email }}</td>
        </tr>
        <tr>
            <td>Date of birth:{{ admin_user.userprofile.birthday|date:"Y-m-d"  }}</td>
            <td>Skype:{{ admin_user.userprofile.skype }}<br>
                Jabber:{{ admin_user.userprofile.jabber }}
            </td>
        </tr>
        <tr>
            <td rowspan="2" class="cells">
                 Bio:<br>
                <textarea rows="10" cols="39" readonly>{{ admin_user.userprofile.bio }}</textarea>
            </td>
        </tr>
        <tr>
            <td class="cells">Other contacts:<br>
                <textarea rows="10" cols="39" readonly>{{ admin_user.userprofile.other}}</textarea>
            </td>
        </tr>
    </table>
{% endblock content %}
