{% extends "base.html" %}

{% load extended_tags %}

{% block extra %}
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    {{ form.media }}
    {% if not home %}
        <script src="/static/js/edit_page.js"></script>
    {% endif %}
{% endblock %}

{% block content %}

        {% get_profile user as profile%}
        {% if not home %}
            <form action="/profile/save_profile/" method="POST" id="user_data_form">

            {% csrf_token %}
        {% endif %}
                <table>
                    <tr>
                        <td>Name:<br>
                            {% if home %}
                                {{ form.data.first_name }}
                            {% else %}
                                {{ form.first_name }}
                            {% endif %}
                        </td>
                        <td>Contacts:<br>
                            {% if home %}
                                {{ form.data.contacts }}
                            {% else %}
                                {{ form.contacts }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Last name:<br>
                            {% if home %}
                                {{ form.data.last_name }}
                            {% else %}
                                {{ form.last_name }}
                            {% endif %}
                        </td>
                        <td>Email:<br>
                            {% if home %}
                                {{ form.data.email }}
                            {% else %}
                                {{ form.email }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Date of birth:<br>
                            {% if home %}
                                {{ form.data.birthday|date:"Y-m-d" }}
                            {% else %}
                                {{ form.birthday }}
                            {% endif %}
                        </td>
                        <td>Jabber:<br>
                            {% if home %}
                                {{ form.data.jabber }}
                            {% else %}
                                {{ form.jabber }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" id="avatar_cell">
                            Photo:
                            <div id="avatar">
                                <img src="{% if profile.avatar %}{{ profile.avatar.path }}{% else %}/static/img/default.png{% endif %}"
                                width="300px" height="1000px" class="img-polaroid">
                                {% if not home %}
                                    <img src="/static/img/close.png" id="close" width="20px" height="20px" id="close">
                                    {{ form.uploaded_file }}
                                {% endif %}
                            </div>
                        </td>
                        <td>Skype:<br>
                            {% if home %}
                                {{ form.data.skype }}
                            {% else %}
                                {{ form.skype }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Other contacts:<br>
                            {% if home %}
                                {{ form.data.other }}
                            {% else %}
                                {{ form.other }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Bio:<br>
                            {% if home %}
                                {{ form.data.bio }}
                            {% else %}
                                {{ form.bio }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
        {% if not home %}
            <input type="submit" class="btn btn-large btn btn-success">
            <a href="/">Cancel</a>
        </form>

        <div id='loader'>
            Loading... please wait
            <img src="static/img/spinner.gif"/>
        </div>
        <script>


        </script>
    {% endif %}
    <div class="alert hide" id="message">
    </div>
{% endblock %}
