{% extends "base.html" %}

{% load extended_tags %}

{% block extra %}
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/edit_page.js"></script>
{% endblock %}

{% block content %}

        {% get_profile user as profile%}
        {% if not home %}
            <form action="/profile/save_profile/" method="POST" id="user_data_form">

            {% csrf_token %}
        {% endif %}
                <table>
                    <tr>
                        <td>Name:<br>
                            {% if home %}
                                {{ user_form.instance.first_name }}
                            {% else %}
                                {{ user_form.first_name }}
                            {% endif %}
                        </td>
                        <td>Contacts:<br>
                            {% if home %}
                                {{ user_profile_form.instance.contacts }}
                            {% else %}
                                {{ user_profile_form.contacts }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Last name:<br>
                            {% if home %}
                                {{ user_form.instance.last_name }}
                            {% else %}
                                {{ user_form.last_name }}
                            {% endif %}
                        </td>
                        <td>Email:<br>
                            {% if home %}
                                {{ user_form.instance.email }}
                            {% else %}
                                {{ user_form.email }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Date of birth:<br>
                            {% if home %}
                                {{ user_profile_form.instance.birthday|date:"Y-m-d" }}
                            {% else %}
                                {{ user_profile_form.birthday}}
                            {% endif %}
                        </td>
                        <td>Jabber:<br>
                            {% if home %}
                                {{ user_profile_form.instance.jabber }}
                            {% else %}
                                {{ user_profile_form.jabber }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" id="avatar_cell">
                            Photo:
                            <div id="avatar">
                                <img src="{% if profile.avatar %}{{ profile.avatar.path }}{% else %}/static/img/default.png{% endif %}"
                                width="300px" height="1000px" class="img-polaroid">
                                {% if not home %}
                                    <img src="/static/img/close.png" id="close" width="20px" height="20px" id="close">
                                    {{ user_profile_form.avatar }}
                                {% endif %}
                            </div>
                        </td>
                        <td>Skype:<br>
                            {% if home %}
                                {{ user_profile_form.instance.skype }}
                            {% else %}
                                {{user_profile_form.skype }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Other contacts:<br>
                            {% if home %}
                                {{ user_profile_form.instance.other }}
                            {% else %}
                                {{ user_profile_form.other }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Bio:<br>
                            {% if home %}
                                {{ user_profile_form.instance.bio }}
                            {% else %}
                                {{ user_profile_form.bio }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
        {% if not home %}
            <input type="submit" class="btn btn-large btn btn-success">
            <a href="/">Cancel</a>
        </form>

        <div id='loader'>
            Loading... please wait
            <img src="static/img/spinner.gif"/>
        </div>
    {% endif %}

{% endblock %}
