{% extends "base.html" %}

{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th> # </th>
        <th>Time</th>
        <th>Host</th>
        <th>Path</th>
        <th>Method</th>
        <th>URI</th>
        <th>User agent</th>
        <th>Remote address </th>
        <th>Remote address forward</th>
        <th>Meta</th>
        <th>Cookies</th>
        <th>GET</th>
        <th>POST</th>
        <th>Raw POST</th>
        <th>is secure</th>
        <th>is ajax</th>
        <th>User</th>
    </tr>
    </thead>
        <tbody>
            {% for request in object_list|slice:":10" %}
                {% if forloop.counter|divisibleby:"2" %}
                    <tr class="info">
                        {% else %}
                    <tr class="success">
                {% endif %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ request.time|date:"Y-m-d H:i:s.u" }}</td>
                    <td>{{ request.host }}</td>
                    <td>{{ request.path}}</td>
                    <td>{{ request.method }}</td>
                    <td>{{ request.uri }}</td>
                    <td>{{ request.user_agent }}</td>
                    <td>{{ request.remote_addr }}</td>
                    <td>{{ request.remote_addr_fwd }}</td>
                    <td>{{ request.meta }}</td>
                    <td>{{ request.cookies }}</td>
                    <td>{{ request.get }}</td>
                    <td>{{ request.post }}</td>
                    <td>{{ request.raw_post }}</td>
                    <td>{{ request.is_secure }}</td>
                    <td>{{ request.is_ajax }}</td>
                    <td>{{ request.user }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
