{% extends "base.html" %}
{% block extra %}
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/requests_page.js"></script>
{% endblock %}

{% block content %}
     <form action="/requests/list/" method="POST" id="list_param_form">
        {% csrf_token %}
         From
        <select type="text" name="start" id="start">
            <option>0</option>
            <option>1</option>
        </select>
         to
        <select type="text" name="end" id="end">
            <option>0</option>
            <option>1</option>
        </select>
         priority
        <input type="submit" class="btn btn-large btn btn-success" value="Select requests">
    </form>
    <div id="list_container">

    </div>

    <div class="alert hide" id="message">
    </div>
{% endblock %}
