{% extends "base.html" %}
{% block extra %}
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/requests_page.js"></script>
{% endblock %}

{% block content %}
     <form action="/requests/list/" method="POST" id="list_param_form">
        {% csrf_token %}
         From
        <input type="text" name="start" value="0"/>
         to
        <input type="text" name="end" value="0"/>
         priority
        <input type="submit" class="btn btn-large btn btn-success" value="Select requests">
    </form>
    <div id="list_container">

    </div>

    <div class="alert hide" id="message">
    </div>
{% endblock %}
